.comment {
  background-color: var(--nav-bg);
  max-width: 750px;
  display: flex;
  padding: 0 1em;
  margin-bottom: 0.5em;
  gap: 0.5em;
}

.imgDiv{
  margin-top: 10px;
}

.commentName {
  font-weight: 700;
  margin-right: 0.5em;
}
.commentContent,
.commentName {
  display: inline;
}
.commentMain{
  background-color: var(--body-bg);
  padding: 0.5em;
  border-radius: 15px;
}