.card {
  width: 100%;
  background-color: var(--nav-bg);
  border-radius: 10px;
  padding-inline: 2em;
  padding-block: 1em;
  text-align: center;
  height: 100%;
}

.profileImage {
  border-radius: 50%;
  border: var(--input-bd) 4px solid;
  margin-bottom: 0.5em;
  width: 125px;
  aspect-ratio: 1/1;
}

.profileMain > * {
  margin-bottom: 1em;
}

.profileFriends {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  padding: 0.9em;
}
