.card {
  max-width: 400px;
  background-color: var(--nav-bg);
  border-radius: 10px;
  padding: 0.5em;
  text-align: center;
  flex: 1;
}

.profileImage {
  border-radius: 50%;
  border: var(--input-bd) 4px solid;
  margin-bottom: 0.5em;
}

.profileMain > * {
  margin-bottom: 1em;
}

.profileFriends {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  padding: 0.9em;
}
