.container {
  display: flex;
  gap: 30px;
}
.sideCard {
  width: 250px;
}
.sideHeading {
  margin-bottom: 0.5em;
}
.usersCard {
  background-color: var(--nav-bg);
  border-radius: 10px;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.form {
  display: inline;
}
