nav {
  background-color: var(--nav-bg);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-block: 2rem;
  font-size: 1.25rem;
}

.navList {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.navList a {
  padding-block: 1rem;
  padding-inline: 3rem 5rem;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 5px;
}

.navList li:hover {
  background-color: var(--body-bg);
}

.navList li.active {
  display: block;
  background: var(--body-bg);
}

.navList li.active svg {
  color: var(--icon-clr);
}
