.btnToggle {
  display: none;
}

.navLink svg {
  width: 2.1rem;
  height: 2.1rem;
}

.navHeader {
  background-color: var(--nav-bg);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-block: 2rem;
  font-size: 1.25rem;
}

.logo {
  display: block;
  text-decoration: none;
  color: inherit;
  text-align: center;
  margin-bottom: 2em;
  font-family: 'Norse-bold';
  letter-spacing: 0.2em;
}
.navList {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.navLink {
  padding-block: 1rem;
  padding-inline: 3rem 5rem;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 5px;
}

.navList li:hover {
  background-color: var(--body-bg);
}

.navList li.active {
  display: block;
  background: var(--body-bg);
}

.navList li.active svg {
  color: var(--icon-clr);
}

.navList .logout {
  color: var(--cancel-clr);
}

@media (max-width: 1000px) {
  .btnToggle {
    display: inline-block;
  }
  .logo {
    margin-bottom: 0;
    /* margin-right: 20px;; */
  }
  .navHeader {
    position: static;
    padding-block: 0.85em ;
    background-color: var(--nav-bg);
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0.5em;
    border-radius: 0 0 10px 10px;
  }
  .nav {
    position: absolute;
    /* height: 0; */
    visibility: hidden;
    top: auto;
    bottom: auto;
    left: auto;
  }

  .navVisible {
    position: relative;
    height: auto;
    visibility: visible;
  }
  .navList {
    display: block;
  }
  .navLink {
    justify-content: center;
  }

  .btnToggle {
    border: none;
    background-color: inherit;
    color: white;
    position: absolute;
    left: 15%;
    top: 0.65em
  }

  .navLink svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}
