.postInfo {
  display: flex;
  margin-bottom: 0.5em;
  gap: 0.5em;
}
.postContent {
  margin-bottom: 0.5em;
}

.listIcons {
  display: flex;
  list-style: none;
  padding: 0.4em 0;
  justify-content: space-evenly;
}
.listItem {
  display: flex;
  gap: 0.5em;
}

hr {
  opacity: 0.3;
}