.container {
  display: flex;
  gap: 0.5em;
  background-color: var(--body-bg);
  border-radius: 10px;
  padding: 0.5em;
}
.friendInfo {
  padding: 0 0.5em;
}
.name{
  text-decoration: none;
  color: inherit;
}

.friendsNumber {
  font-size: 0.8em;
}
img {
  width: 50px;
}