.container{
  background-color: var(--nav-bg);
  border-radius: 10px;
  padding: 0.5em;
  flex: 1;
}

.friendBar {
  background-color: var(--body-bg);
  margin-bottom: 0.5em;
  border-radius: 10px;

}