* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('./assets/fonts/roboto-v32-latin-regular.woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('./assets/fonts/roboto-v32-latin-700.woff2');
}

@font-face {
  font-family: 'Norse-Bold';
  font-weight: 700;
  src: url('./assets/fonts/norse-bold.woff2');
}

:root {
  --nav-bg: #1c334b;
  --body-bg: #0a141e;
  --input-bd: #406e9f;
  --font-clr: #ffffff;
  --btn-clr: #175d57;
  --icon-clr: #20a89d;
  --cancel-clr: #ed3131;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: var(--body-bg);
  padding-inline-start: 19rem;
  padding-inline-end: 2rem;
  padding-block-start: 2rem;
  color: var(--font-clr);
  line-height: 1.5;
}

form {
  display: grid;
  gap: 0.75rem;
  max-width: 30ch;
  margin: 0 auto;
}



@media (max-width: 1000px) {
  body {
    padding-inline: 8%;
    padding-block: 0 5%;
  }
}

