* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-bg: #1c334b;
  --body-bg: #0a141e;
  --input-bd: #406e9f;
  --font-clr: #ffffff;
  --btn-clr: #175d57;
  --icon-clr: #20a89d;
}

body {
  font-family: sans-serif, 'Times New Roman';
  font-size: 1rem;
  background-color: var(--body-bg);
  padding-inline-start: 19rem;
  padding-inline-end: 2rem;
  padding-block-start: 2rem;
  color: var(--font-clr);
  line-height: 1.5;
}
