.commentForm {
  display: flex;
  gap: 0.5em;
  align-items: center;
  width: 100%;
}

.addComment {
  display: flex;
  gap: 0.5em;
  padding: 0 1em;
  margin: 0.5em 0;
}

.avatar {
  width: 50px;
  aspect-ratio: 1/1;
}

.commentTextarea {
  height: 3em;
  width: 100%;
  padding: 0.5em;
  resize: none;
  background-color: var(--input-bd);
  border-radius: 15px;
  color: var(--font-clr);
  border: none;
}

.commentTextarea::placeholder {
  color: var(--font-clr);
}

