.formGroup {
  display: grid;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.textarea {
  width: 100%;
  padding: 0.5em;
  resize: none;
  background-color: var(--input-bd);
  border-radius: 15px;
  color: var(--font-clr);
  border: none;

}

.textarea::placeholder {
  color: var(--font-clr);
}

.error {
  color: red;
}
